<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    </head>
    <body>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Action
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="../article/">Accueil</a>
            <h6 class="dropdown-header">Edit</h6>
            <a class="dropdown-item" href="1/edit">Article 1</a>
            <a class="dropdown-item" href="2/edit">Article 2</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Show</h6>
            <a class="dropdown-item" href="1">Article 1</a>
            <a class="dropdown-item" href="2">Article 2</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Show</h6>
            <a class="dropdown-item" href="new">New article</a>
        </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
